<tr class="table-warning">
    <td>
        <input type="text" class="form-control form-control-sm bonus-label-input" placeholder="Название бонуса" />
    </td>
    <td>
        <button type="button" class="btn btn-sm btn-success save-bonus">
            <i class="bi bi-check-lg"></i>
        </button>
        <button type="button" class="btn btn-sm btn-secondary cancel-bonus">
            <i class="bi bi-x-lg"></i>
        </button>
    </td>
</tr>