@model int

<tr data-bonus-id="@Model" class="table-warning">
    <td>
        <input type="text" class="form-control form-control-sm gradation-label-input" placeholder="Название" />
    </td>
    <td>
        <input type="number" class="form-control form-control-sm gradation-price-input" placeholder="Цена" step="0.01" min="0" />
    </td>
    <td>
        <button type="button" class="btn btn-sm btn-success save-gradation">
            <i class="bi bi-check-lg"></i>
        </button>
        <button type="button" class="btn btn-sm btn-secondary cancel-gradation">
            <i class="bi bi-x-lg"></i>
        </button>
    </td>
</tr>