@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_EmptyLayout";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>Exception Message:</strong> <span>@Model.ExceptionMessage</span>
</p>